<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>动态组件 组件间切换</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="root">
       <!-- <child-one v-if="show"></child-one>
       <child-two v-else></child-two>
       <button @click="handleClick">change</button> -->

       <!-- <child-one v-if="type === 'child-one'"></child-one>
       <child-two v-if="type === 'child-two'"></child-two>
       <button @click="handleClick">change</button> -->
       
       <component :is="type"></component>
       <button @click="handleClick">change</button>
       <!-- v-once当点击切换的时候组件会保存在我们的内存里面，会节省性能的消耗 -->
    </div>

    <script type="text/javascript">
       Vue.component('child-one', {
          template: `<div v-once>This is child one</div>`
       })
       Vue.component('child-two', {
          template: `<div v-once>This is child two</div>`
       })


       var vm = new Vue({
         el: '#root',
         data: {
            type: 'child-one'
         },
         methods: {
            handleClick() {
                this.type = (this.type === 'child-one'?'child-two':'child-one');
            },
         }, 
       })
    </script>
</body>
</html>